<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2929978084-dtj6s945p09p3rhtmmu9bp3176bvhqgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2929978084-dtj6s945p09p3rhtmmu9bp3176bvhqgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>2929978084-gjl2vngdi3qn4jef4k6up3ofvn38hqdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtXgh5VB_eDH0EH3AFeSNsAvyLNkmt3js</string>
	<key>GCM_SENDER_ID</key>
	<string>2929978084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemdo.portal</string>
	<key>PROJECT_ID</key>
	<string>portal-cemdo-f94a9</string>
	<key>STORAGE_BUCKET</key>
	<string>portal-cemdo-f94a9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2929978084:ios:169e7b5d0aee1fcf97daf1</string>
</dict>
</plist>