#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.release-production.xcconfig"
#include "Generated.xcconfig"

// Production flavor configuration
FLUTTER_BUILD_MODE=release
PRODUCT_BUNDLE_IDENTIFIER=com.cemdo.portal
PRODUCT_NAME=Portal CEMDO
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
APS_ENVIRONMENT=production
